{% load static %}

<script src="{% static 'vendor/popper/2.0.6/js/popper.min.js' %}"></script>
<script src="{% static 'vendor/jquery/3.4.1/js/jquery.min.js' %}"></script>
<script src="{% static 'vendor/jquery-easing/1.4.1/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/4.4.1/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/chart/2.8.0/js/Chart.js' %}"></script>
<script src="{% static 'vendor/sb-admin-2/js/sb-admin-2.js' %}"></script>
<script src="{% static 'site/js/site.js' %}"></script>
