{% extends 'site/base.html' %}
{% load static %}

{% block title %} Dashboard: with Django and Bootstrap {% endblock title %}

{% block content %}
<!-- Begin Page Content -->


<!-- Begin Page Content -->
<div class="container-fluid">

	<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">Charts</h1>
	<p class="mb-4">Chart.js is a third party plugin that is used to generate the charts in this theme. The charts below have been customized - for further customization options, please visit the <a target="_blank" href="https://www.chartjs.org/docs/latest/">official Chart.js documentation</a>.</p>

	<!-- Content Row -->
	<div class="row">

	<div class="col-xl-8 col-lg-7">
		<div class="card shadow mb-4">
			<div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">Area</h6></div>
			<div class="card-body">
				<div class="chart-area"><canvas id="myAreaChart"></canvas></div>
			</div>
		</div>

		<div class="card shadow mb-4">
			<div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">Bar</h6></div>
			<div class="card-body">
				<div class="chart-bar"><canvas id="myBarChart"></canvas></div>
			</div>
		</div>
	</div>

	<div class="col-xl-4 col-lg-5">
		<div class="card shadow mb-4">
			<div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">Donut</h6></div>
			<div class="card-body">
				<div class="chart-pie pt-4"><canvas id="myPieChart"></canvas></div>
			</div>
		</div>
	</div>

</div>

{% endblock content %}

{% block    additional_scripts %}
	<script src="{% static 'vendor/sb-admin-2/js/demo/chart/area.js' %}"></script>
	<script src="{% static 'vendor/sb-admin-2/js/demo/chart/bar.js' %}"></script>
	<script src="{% static 'vendor/sb-admin-2/js/demo/chart/pie.js' %}"></script>
{% endblock additional_scripts %}
